<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="chat-layout">
  {{template "chat" .}}

  <script>
    window.chatURLs = {
      ws: "{{ .URLs.WS }}",
      message: "{{ .URLs.Message }}"
    }
  </script>

  <script src="/static/htmx.js" defer></script>
  <script src="/static/chat.js" defer></script>
  <script src="/static/ws.js" defer></script>
</body>