<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat</title>
  <link rel="stylesheet" href="static/styles.css" />
  <script src="/static/htmx.js"></script>
</head>

<body>
  <h3>leave me a message or chat with someone</h3>

  <div class="chat-container" id="chat" hx-get="/poll" hx-trigger="every 3s" hx-swap="beforeend">
  </div>

  <div class="input-area">
    <form hx-post="/messages" hx-target="#chat" hx-swap="beforeend">
      <input type="text" class="input-field" name="nickname" placeholder="nickname"><br>
      <textarea type="text" class="input-field" name="content" placeholder="message" rows=4 required></textarea><br>
      <button class="send-btn" name="send-btn">send</button>
    </form>
  </div>

  <footer>
    db coming soon
  </footer>

  <script src="/static/chat.js"></script>
</body>

</html>